[user]
	email = ebiyuu1121@gmail.com
	name = Ebihara Yusuke
	siginingKey = 315B2820CE85B793

[alias]
	co = checkout
	m = merge
	l = log
	g = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %C(reset)%cd %C(green)%cn %C(yellow)%d %C(reset)%s'
	cm = commit
	cma = commit --amend
	b = branch
    st = status
[core]
	editor = vi
[commit]
	gpgsign = false
	gpgsigna = false
[init]
	defaultBranch = main
