[user]
	email = me@ebiyuu.com
	name = Ebihara Yusuke

[alias]
	co = checkout
	m = merge
	l = log
	g = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %C(reset)%cd %C(green)%cn %C(yellow)%d %C(reset)%s'
	cm = commit
	cma = commit --amend
	b = branch
    s = status
    st = status
    f = fetch
    ps = push
    pl = pull
    a = add
    d = diff
    delete-merged = !git branch | grep -vE '^\\*|master$|develop$|main$|staging$' | xargs -I % git branch -d %
[core]
	editor = vi
	symlinks = true
    excludesfile = ~/dotfiles/.gitignore_global
[push]
	default = current
[pull]
	rebase = false
