[user]
	name = 海老原祐輔
	email = ebiyuu1121@gmail.com
[gui]
	recentrepo = /Users/ebiyuu1121/Dropbox/物チャレ個人フォルダ/レポート
	recentrepo = /Users/ebiyuu1121/Xcode/makenumber
[core]
	excludesfile = /Users/ebiyuu1121/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
    g = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    s = status
    cm = commit
    cma = commit --amend
    cn = commit -m
    ca = commit -a -m
    co = checkout
    cop = checkout -p
    a = add
    aa = add .
    ap = add -p
    d = diff
    ds = diff --staged
    dh = diff HEAD^ HEAD
    l = log
    lp = log -p
    ps = !git push origin $(git rev-parse --abbrev-ref HEAD)
    pl = !git pull origin $(git rev-parse --abbrev-ref HEAD)
    f = fetch
    fa = fetch --all
    b = branch
    m = merge --no-ff
    mff = merge --ff
    rs = reset
    rss = reset --soft
    rsh = reset --hard
    rsp = reset -p
    rb = rebase
    rbi = rebase -i
    rbir = rebase -i --root
    rbc = rebase -continue
[commit]
	template = /Users/ebiyuu1121/.stCommitMsg
